@using AdoptPetsProject.Infrastructure

@model IEnumerable<PetServiceModel>

<div class="row">
    @foreach (var pet in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="@pet.ImageUrl" alt="@pet.KindName - @pet.Breed @pet.Name - @pet.Age">
                <div class="card-body">
                    <h5 class="card-title">@pet.KindName - @pet.Breed - @pet.Name - @pet.Age</h5>
                    <a asp-controller="Pets" asp-action="Details" asp-route-id="@pet.Id" asp-route-information="@pet.GetInformation()" class="btn btn-primary">View</a>
                    @if (ViewBag.AllowCarEdit == true || User.IsAdmin())
                    {
                        <a asp-controller="Pets" asp-action="Edit" asp-route-id="@pet.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Pets" asp-action="Delete" asp-route-id="@pet.Id" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>